
 <div>
        <nav>
            <ul>
                <li class="contenedorli"><a href="/crearCuento">Crear Historia</a></li>
                <li class="contenedorli2"><a href="/verHistoria">Ver Historias</a></li>
                <li class="contenedorli3"><a href="/verUsuarios">Ver Usuarios</a></li>
            </ul>


        </nav>

    </div>
    <div class="caja2">
        <div class="container">
            <div class="col-md-12">
                <ul>
                    <li>
                        <a class="active" href="#">
                            <div class="imagenes2"> <img alt="" class="imagenesUl" src="imagenes/tipos/c1.jpg"></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="imagenes2"> <img alt="" class="imagenesUl" src="imagenes/tipos/c2.png"></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="imagenes2"> <img alt="" class="imagenesUl" src="imagenes/tipos/c3.png"></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="imagenes2"> <img alt="" class="imagenesUl" src="imagenes/tipos/c4.png"></div>
                        </a>
                    </li>
                  
                    <li>
                        <a href="#">
                            <div class="imagenes2"> <img alt="" class="imagenesUl" src="imagenes/tipos/c8.jpg"></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="imagenes2"> <img alt="" class="imagenesUl" src="imagenes/tipos/c6.png"></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="imagenes2"> <img alt="" class="imagenesUl" src="imagenes/tipos/c7.png"></div>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>