<!DOCTYPE html>
<html>

<head>
       <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    

    <title>Goldtiles</title>

    <!-- Bootstrap Core CSS -->

    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- Custom CSS -->
    <link href="../css/shop-homepage.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/estilo.css">
    <link rel="stylesheet" href="/css/estilo2.css">
    <script src="/js/jquery-3.2.1.min%20(1).js"></script>

    <script src="/js/jquery-ui.js"></script>
  <script src="/js/ver.js"></script>
    <script src="/js/codigo.js"></script>

  
    
    
    
    
    
    
 
</head>

<body class="fondo">

 
    {{{body}}}
</body>
</html>
