<body onload="cargarUsuario()">
   <div class="container">
    <nav>

        <ul>
            <li class="contenedorHome"><a href="/index">Home</a></li>
            <li class="contenedorli"><a href="/crearCuento">Crear Historias</a></li>
            <!--   <li class="contenedorJson"><a class="exportar" download="contenido.json" >ExportarJson</a></li> -->
        </ul>

    </nav>
        <div class="userCuent">
           <div class="row2">
                    <h2 class="tit">Usuario</h2>
                    <h3>Nombre</h3>
                    <input id="titulo" type="text" name="fname" value=""><br>
                    <h3>Usuario</h3>
                    <input id="titulo" type="text" name="fusername" value=""><br>
                    <br>
                    <div class="btn">
                    <button id="btnActualizarUser">Actualizar</button>
                    <button id="btnEliminarUser">Eliminar</button>
                    </div>
                </div>
        </div>

</div>
    
</body>
   