<!-- Page Content -->
<div class="container">
    <nav>

        <ul>
            <li class="contenedorHome"><a href="/index">Home</a></li>
            <li class="contenedorli"><a href="/crearCuento">Crear Historias</a></li>
            <!--   <li class="contenedorJson"><a class="exportar" download="contenido.json" >ExportarJson</a></li> -->
        </ul>

    </nav>


</div>


<div class="container">
    <h2 class="tit">Todo está por descubrirse...Los mejores cuentos estan aquí</h2>
    <br>
    <br>
    <br>
    <br>
    <div class="container">

        <div class="col-md-12">
            <div class="aliIz">
                <br>
                <br>
                <button id="buttonEditar">Editar Cuento</button><input type="text" id="editcuento">
                <button id="buttonEliminar">Eliminar Cuento</button><input type="text" id="deletecuento">
                <h4 class="tit2">Cuentos Clásicos</h4>
            </div>
            
            <ul id="principal">

            </ul>

        </div>
           <br><br><br>

    </div>

    <br><br><br>
</div>

<!-- Bootstrap Core JavaScript -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2 id="nombreCuento"></h2>
        </div>
        <div class="modal-body">
            <p id="descripcion"></p>

            <div class="container2">
                <div class="row">
                    <div class="col-lg-1">

                        <button id="anterior">Volver al Inicio</button>
                    </div>
                    <div class="col-lg-10" id="validacion">


                    </div>
                    <div class="col-lg-1">

                        <button id="siguiente"> Pagina Siguiente</button>
                        <div id="au">

                        </div>
                    </div>
                </div>

            </div>


        </div>
        <div class="modal-footer">
            <p id="creditos"></p>
        </div>
    </div>

</div>